@import url('https://fonts.googleapis.com/css2?family=Acme&family=Signica:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signica:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@700;900&display=swap');
@import 'tailwindcss';

@theme {
    --color-primary: #8f0101;
    --color-secondary: #202020;
    --color-thirdary: #ffffff;

    --font-title: 'Unbounded', sans-serif;
    --font-subtitle: 'Acme', sans-serif;
    --font-main-text: 'Signica', sans-serif;
}