<nav class="flex justify-between items-center bg-secondary p-4 text-white list-none">
     <ul class="flex items-center text-xl pl-10">
        <li>
            <a routerLink="/" class="font-title flex items-center gap-5">
                <img src="img/Emblem.png" alt="Logo" class="h-15 cursor-pointer ">
                KARATE CLUB PHOENIX
            </a>
        </li>
    </ul>
    <ul class="flex justify-space items-center gap-15 text-xl">
        <li><a routerLink="/" class="hover:text-primary transition-colors font-title cursor-pointer">Home</a></li>
        <li><a routerLink="/coaches" class="hover:text-primary transition-colors font-title cursor-pointer">Coaches</a></li>
        <li><a routerLink="/rating" class="hover:text-primary transition-colors font-title cursor-pointer">Rating</a></li>
        <li><a routerLink="/news" class="hover:text-primary transition-colors font-title cursor-pointer">News</a></li>
        <li><a routerLink="/privacy" class="hover:text-primary transition-colors font-title cursor-pointer">Privacy</a></li>
    </ul>

    <ul class="flex items-center text-xl pr-20">
        <li ><a routerLink="/user" class="hover:text-primary transition-colors cursor-pointer font-title">Profile</a></li>
    </ul>
</nav>