<nav class="bg-secondary flex list-none items-center justify-between p-4 text-white">
     <ul class="flex items-center pl-10 text-xl">
        <li>
            <a routerLink="/" class="font-title flex items-center gap-5">
                <img src="img/Emblem.png" alt="Logo" class="h-15 cursor-pointer">
                KARATE CLUB PHOENIX
            </a>
        </li>
    </ul>
    <ul class="justify-space flex items-center gap-10 text-lg">
        <li><a routerLink="/" class="font-title cursor-pointer transition-colors hover:text-primary">Головна</a></li>
        <li><a routerLink="/coaches" class="font-title cursor-pointer transition-colors hover:text-primary">Тренери</a></li>
        <li><a routerLink="/rating" class="font-title cursor-pointer transition-colors hover:text-primary">Рейтинг</a></li>
        <li><a routerLink="/news" class="font-title cursor-pointer transition-colors hover:text-primary">Новини</a></li>
        <li><a routerLink="/privacy" class="font-title cursor-pointer transition-colors hover:text-primary">Privacy</a></li>
    </ul>

    <ul class="flex items-center pr-15 text-lg">
        <li ><a routerLink="/user" class="font-title cursor-pointer transition-colors hover:text-primary">Профіль</a></li>
    </ul>
</nav>
